body, hmtl {
    height: 100%;
    margin: 0;

}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

.hamaster{
    margin-top: 20px;
}

